/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
}

a,
a:visited {
    color: $linkColor;
}
a:hover {
    color: $linkHoverColor;
}

::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin: 0 0 10px 0;
}
h1 { }
h2 { }
h3 { }
h4 { }

/* STRUCTURE */
.container {
    max-width: $pageWidth;
    margin: 20px auto;
}

/* HEADER */
header {
    //height: 170px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    .site-slogan {
        font-size: 30px;
        color: #7b7c7e;
        line-height: 90px;
        text-align: center;
        font-weight: 400;
        @include bp(tablet) { display: none; }
    }
}
#logo {
    height: 90px;
    max-width: 100%;
    float: left;
    @include bp(tablet) { display: none; }
    img {
        height: 100%;
        width: auto;
        max-width: 100%;
    }
}

.mobile-menu {
    display: none;
    @include bp(tablet) {
        display: inline-block;
        width: 100%;
        .nav-trigger {
            /*            height: 85px;*/
            background: #25304f;
            float: left;
            padding: 1em;
            width: 4em;
            height: 3em;
            .icon-bar {
                border-radius: 1px;
                display: block;
                height: 2px;
                width: 2em;
                background: #ffffff;
            }
            .icon-bar + .icon-bar {
                margin-top: 0.4em;
            }
        }
        #logo-mobile {
            display: inline-block;
            max-width: 12em;
            text-align: center;
            img {
                max-width: 90%;
                margin: 0 0 0 5%;
            }
        }
        .extra-trigger {
            width: 4em;
            height: 3em;
            float: right;
            background: url('../images/icon-school.png') no-repeat center center #dc1b74;
            background-size: 2em;
        }
    }
}

/* NAV */
.tb-megamenu {
    .nav-collapse {
        float: right;
        text-align: right;
        height: 58px;
        li {
            a {
                background: #25304f!important;
                font-size: 11px;
                text-decoration: none;
                text-transform: uppercase;
                text-align: left;
            }
            .tb-megamenu-submenu {
                background: transparent;
                .row-fluid {
                    .mega-inner {
                        padding: 0;
                        .tb-megamenu-item.level-2 .tb-megamenu-submenu {
                            display: none;
                            @include bp(tablet) {
                                display: block;
                            }
                        }
                        .tb-megamenu-item.level-2.open .tb-megamenu-submenu {
                            display: block;
                        }
                        a {
                            background: #25304f!important;
                            color: #fff!important;
                            text-align: left;
                            padding: 15px 20px!important;
                            @include bp(tablet) {
                                background: transparent!important;
                            }
                        }                        
                    }
                }
            }
        }
    }
}

.nav-container {
    width: 100%;
    float: left;
    text-align: right;
    height: 58px;
    @include bp(tablet) {
        position: absolute;
        width: 80%;
        left: -100%;
    }
    nav {
        #main-menu {
            margin: 0;
            float: right;
            background: #25304f;
            padding: 0 15px;
            @include bp(tablet) {
                width: 100%;
            }
            li {
                float: left;
                height: 58px;
                line-height: 58px;
                padding: 0;
                @include bp(tablet) {
                    width: 100%;
                }
                a {
                    color: #ffffff;
                    font-size: 11px;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-right: 1px solid #676f84;
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    padding: 0 5px;
                    @include bp(tablet) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            li.last{
                a {
                    border: 0;
                }
            }
        }

    }
}


/* MAIN */
#main { }
#content {
    .view-home {
        .node-page {
            .top-image-content {
                background-repeat: no-repeat;
                background-size: cover;
                height: 300px;
                width: 100%;
                float: left;
                @include bp(tablet) {
                    height: 220px;
                    .container {
                        float: left;
                        height: 100%;
                        margin: 0;
                        position: relative;
                        width: 100%;
                    }
                }
                h1 {
                    max-width: $pageWidth;
                    margin: 200px auto 0;
                    float: left;
                    color: #ffffff;
                    font-size: 56px;
                    font-weight: 300;
                    @include bp(tablet) {
                        padding: 0 35px;
                        color: #25304f;
                        background: #ffffff;
                        max-width: 100%;
                        position: absolute;
                        left: 35px;
                        right: 35px;
                        bottom: 0;
                        text-align: center;
                        font-size: 1.2em;
                        padding: 0.5em;
                    }
                }
            }
            > .container .field-name-body {
                float: left;
                @include bp(tablet) {
                    padding: 0 35px;
                }
            }
            > .container .links.inline {
                @include bp(tablet) {
                    padding: 0 35px;
                }
            }
        }
    }
}

/* SIDEBAR */
aside { }

/* FOOTER */
footer {
    float: left;
    width: 100%;
    > .region, .custom-region-map {
        float: left;
        width: 100%;
    }
    #block-menu-menu-social-menu {
        background: url('../images/footer-lines.png') no-repeat 50% 50% #343434;
        float: left;
        width: 100%;
        height: 120px;
        @include bp(tablet) {
            background: #343434;
        }
        .menu {
            text-align: center;
            li {
                list-style-image: none;
                list-style-type: none;
                display: inline-block;
            }
        }
    }
    .custom-region-map {
        background: url('../images/google-map.jpg') no-repeat 0 0 #2b2b2b;
        height: 238px;
        @include bp(tablet) {
            background: #2b2b2b;
        }
        .region-footer {
            max-width: $pageWidth;
            margin: 0 auto;
            @include bp(tablet) {
                display: none;
            }
            > .block {
                width: 25%;
                float: left;
                padding: 40px 0 0;
            }
            .block-faculty-general {
                .content a {
                    border: 1px solid #ffffff;
                    background: url('../images/icon-footer-arrow.png') no-repeat 90% 18px transparent;
                    color: #ffffff;
                    font-size: 12px;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 5px 5px 5px 5px;
                    -moz-border-radius: 5px 5px 5px 5px;
                    -webkit-border-radius: 5px 5px 5px 5px;
                    padding: 13px 40px 13px 13px;
                    display: inline-block;
                }
                .content a:hover {
                    background: url('../images/icon-footer-arrow.png') no-repeat 90% -24px #ffffff;
                    color: #2c2c2c;
                }
                h3 {
                    font-size: 12px;
                    color: #ffffff;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                p {
                    font-size: 12px;
                    color: #ffffff;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
            #block-faculty-general-faculty-general-footer-contact {
                p {
                    color: #b9b9b9;
                    line-height: 18px;
                }
            }
            #block-menu-menu-quick-menu {
                h3 {
                    font-size: 12px;
                    color: #ffffff;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                li{
                    list-style-type: none;
                    list-style-image: none;
                    padding: 0;
                    margin: 0;
                    a {
                        font-size: 12px;
                        color: #b9b9b9;
                        font-weight: 400;
                        line-height: 18px;
                        text-decoration: none;

                    }
                }

            }
        }
        .custom-mobile-actions {
            display: none;
            @include bp(tablet) {
                display: inline-block;
                padding: 0;
                margin: 40px 0 0;
                width: 100%;
                li {
                    width: 33%;
                    float: left;
                    text-align: center;
                    padding: 0 3%;
                    a, p{
                        color: #ffffff;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .region-bottom-footer {
        background: #f7f7f7;
        text-align: center;
        padding: 65px 0 45px;
        .menu {
            display: inline-block;
            text-align: center;
            max-width: $pageWidth;
            padding: 0;
            margin: 0;
            @include bp(tablet) {
                display: none;
            }
            li {
                display: inline-block;
                margin:0 10px;
                padding: 0;
                a {
                    font-size: 14px;
                    color: #adadad;
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                a:hover {
                    color: #2b2b2b;
                }
            }
        }
    }
    .region-mention {
        text-align: center;
        padding: 20px 0 60px;
        @include bp(tablet) {
            padding: 20px 35px 60px;
        }
        > div {
            display: inline-block;
            @include bp(tablet) {
                float: right;
                width: 51%;
                text-align: right;
            }
        }
        .content {
            width: auto;
            display: inline;
            color: #a3a3a3;
            font-size: 12px;
            font-weight: 400;
            @include bp(tablet) {
                font-size: 1em;
            }
            ul {
                padding: 0;
                margin: 0;
                @include bp(tablet) {
                    display: none;
                }
                li {
                    list-style-image: none;
                    list-style-type: none;
                    a {
                        color: #a3a3a3;
                        font-size: 12px;
                        font-weight: 400;
                        text-decoration: none;
                        @include bp(tablet) {
                            font-size: 18px;
                        }
                    }
                }
            }

        }
    }
}

/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home { }
.page-frontpage {
    .view-frontpage {
        .field-name-body {
            .field-item p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
            }
        }
        .links {
            li {
                padding: 0;
                a {
                    color: #0db9cf;
                    font-size: 12px;
                    font-weight: 400;
                    padding: 0 15px 0 0;
                    background: url('../images/arrow-next-blue.png') no-repeat 100% 50% transparent;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

/* Blog Page */
.blog { }
